@model WebFerreteria.Models.Empleado

@{
    ViewData["Title"] = "Editar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h1>Editar Empleado</h1>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label class="control-label">Cédula de Identidad</label>
                                    <input asp-for="CedulaIdentidad" class="form-control" />
                                    <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input asp-for="Nombres" class="form-control" />
                                    <span asp-validation-for="Nombres" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input asp-for="PrimerApellido" class="form-control" />
                                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input asp-for="SegundoApellido" class="form-control" />
                                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Dirección</label>
                                    <input asp-for="Direccion" class="form-control" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Celular</label>
                                    <input asp-for="Celular" class="form-control" />
                                    <span asp-validation-for="Celular" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cargo</label>
                                    <input asp-for="Cargo" class="form-control" />
                                    <span asp-validation-for="Cargo" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="UsuarioRegistro" />
                                <input type="hidden" asp-for="FechaRegistro" />
                                <input type="hidden" asp-for="Estado" />
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
